<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editform</title>
  </head>
  <body>
    <h2>edit dulu~</h2>
    <form action="/history/add" method="POST">
      menang: <br />
      <input type="text" , name="menang" /><br />
      kalah: <br />
      <input type="text" , name="kalah" /><br />
      seri:<br />
      <input type="text" , name="seri" /><br />
      <br />
      score:<br />
      <input type="text" , name="score" /><br />
      <br />
      <input type="submit" /><br />
    </form>
  </body>
</html>