<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>editform</title>
  </head>
  <body>
    <h2>edit dulu~</h2>
    <form action="/user/add" method="POST">
      username: <br />
      <input type="text" , name="username" /><br />
      password: <br />
      <input type="password" , name="password" /><br />
      <input type="submit" /><br />
    </form>
  </body>
</html>